* {
    margin: 0;
    padding: 0;
}

:root {           
    --cor1: #E65763;
    --cor2: #34073D;
    --cor3: #09e01b;
    --cor4: #EB0927;
    --branco: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: var(--branco);
    text-align: center;
    padding-top: 50px;
}

#container-tasks {
    width: 500px;
    margin-left: auto;
    margin-right: auto;    
}
/* tasks-form */
#tasks-header {
    margin-top: 40px;
}

#add-task-form {
    position: relative;
}

#add-task-form input {
    box-sizing: border-box;
    border: 1px solid var(--cor2);
    background-color: var(--branco);
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#add-task-form input::placeholder {
    color: var(--cor2);
}

#add-task-form input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    background: var(--branco);
    border: 1px solid var(--cor2);
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
    top: 0;
    right: 0;
    padding-top: 3px;
}

#add-btn:hover {
    background-color: var(--cor2);
    color: var(--branco);
}

ion-icon {
    font-size: 1.5em;
}

/* tasks container*/

#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid var(--cor2);
    background-color: var(--branco);
    color: var(--cor2);
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
    font-weight: bold;
}

#task-list li span {
    font-size: 18px;
}

#task-list ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    width: 40px;
    padding: 5px;
}

.done-btn {
    right: 40px;
}
.remove-btn {
    right: 0;
}

.done-btn:hover {
    color: var(--branco);
    background-color: var(--cor3);
}

.remove-btn:hover {
    color: var(--branco);
    background-color: var(--cor4);
}

.hide {
    display: none;
}

#task-list li.done {
    background-color: var(--cor2);
    color: var(--branco);
    text-decoration: line-through;
}